*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
}
.wrapper{
  display: flex;
  flex-direction: column;
}
.div-1{
  background-color: plum;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.div-1 img{
  width: 8%;
}
.div-1 h2{
  align-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(0, 140, 150);
}
.div-2 h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: .5em;
  color: #8000ff;
  text-align: center;
}
.div-3{
  display: flex;
  flex-direction: column;
}
.div-3 p{
  font-weight: bold;
  background-color: plum;
  width: 30%;
  padding: 1em;
  border-radius: 1em;
  margin-top: 2em;
  margin-left: 5em;
}
.div-3 img{
  max-width: 8%;
  position: absolute;
  top: 47%;
  left: .5em;
}
#ans-1{
  width: 50%;
  margin-left: 80px;
  margin-bottom: 30px;
  padding-left: 40px;
  background-color: pink;
  font-weight: 500;
}
.div-4 p{
  font-weight: bold;
  background-color: plum;
  width: 320px;
  padding: 10px;
  display: block;
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 100px;
  text-align: right;
  float: right;
}
#ans-2{
  background-color: pink;
  width: 60%;
  font-weight: 500;
  padding: 10px 18px;
  position: relative;
  top: 50px;
  left: 33%;
  text-align: left;
}
.div-4 img{
  width: 100px;
  position: absolute;
  left: 90%;
  top: 76%;
  z-index: 1;
}
.div-4{
  height: 150px;
}
.div-5 p{
  font-weight: bold;
  background-color: plum;
  width: 320px;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 18px;
}
.div-5 img{
  width: 100px;
  position: absolute;
  left: 40px;
}
#ans-3{
  width: 60%;
  margin-left: 100px;
  margin-bottom: 30px;
  padding-left: 40px;
  background-color: pink;
  font-weight: 500;
}
.div-6 p{
  font-weight: bold;
  background-color: plum;
  width: 320px;
  padding: 10px;
  display: block;
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 100px;
  text-align: right;
  float: right;
}
.div-6 img{
  width: 100px;
  position: absolute;
  left: 90%;
  top: 130%;
  z-index: 1;
}
#ans-4{
  background-color: pink;
  width: 60%;
  font-weight: 500;
  padding: 10px 18px;
  position: relative;
  top: 50px;
  left: 31%;
  text-align: left;
}
.div-6{
  height: 150px;
}
.div-7 p{
  font-weight: bold;
  background-color: plum;
  width: 320px;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 18px;
}
.div-7 img{
  width: 100px;
  position: absolute;
  left: 40px;
}
#ans-5{
  width: 41%;
  margin-left: 100px;
  padding-left: 40px;
  background-color: pink;
  font-weight: 500;
}
.div-7 button{
  background-color: rgb(8, 189, 62);
  position: relative;
  left: 50%;
  bottom: 50px;
  padding: 15px;
  border-style: none;
  border-radius: 50px;
  font-weight: bold;
}
.div-7 button:hover{
  color: rgb(8, 189, 62);
  background-color: black;
  transition: 0.15s ease-out;
  cursor: pointer;
}
.div-7{
  height: 100px;
}
#back_button{
  position: fixed;
  z-index: 1;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 20px;
  border-style: none;
  background: none;  
  font-weight: bold;
  left: 10px;
  top: 10px;
}
#back_button:hover{
  transform: rotate(360deg);
  transition: 0.75s ease-out;
  cursor: pointer;
}